body {background-color:black;font-family:arial;color:black}
h1{color:grey;font-family:verdana}

.maindiv {
background-color: white;
margin: auto;
justify-content: space-between;
width: 300px;
padding: 50px 50px 50px;
border-radius: 50px;
}



.highlight {
    background-color: yellow;
  }



